{{define "header"}}
	<title>Categories</title>
	<link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/rst.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/code.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/colorbox.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/theme.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
{{end}}
{{define "body"}}

    <!-- Body content-->
    <h1>Tags</h1>
    <ul class="unstyled bricks">
        {{range $k,$v := .Cats}}
        <li><a class="reference" href="{{$k}}.html">{{$v}}</a></li>
        {{end}}
    </ul>
    <!-- Body content ends here-->    


{{end}}
